@app.route("/api/overdue")
@login_required
def api_overdue():
    conn = get_db()
    cur = conn.cursor()

    cur.execute("""
        SELECT * FROM entries
        WHERE status != 'Delivered'
        AND receive_date IS NOT NULL
    """)
    rows = cur.fetchall()
    cur.close()
    conn.close()

    overdue = []
    now_dt = datetime.datetime.now()

    for r in rows:
        try:
            recv = datetime.datetime.strptime(
                r["receive_date"], "%Y-%m-%d %H:%M:%S"
            )
            if (now_dt - recv).days > 10:
                overdue.append(row_to_obj(r))
        except:
            pass

    return jsonify(overdue)